<!-- <!DOCTYPE HTML> -->
<!-- <html> -->
<body id="welcome">
<head>
  <title>Daily</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "welcome" %>

<!-- 
  <body> -->
  <div class="title">
    <div class="glitch" data-text="Daily">Daily</div>
    <a href="http://github.com/" class="logo" title="Secret Entrance"></a>
    <div class="glitch" data-text="Planet">Planet</div>
  </div> 

 <!--  </body>

  </html> -->


</body>