<!-- <!DOCTYPE HTML> -->
<!-- <html> -->
<body id="welcome">
<head>
  <title>Daily Planet</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "welcome" %>

<!-- 
  <body> -->
  <div class="title">
    <div class="glitch" data-text="Daily">Daily</div>
    <a href="/posts" class="logo" title="Secret Entrance"></a>
    <div class="glitch" data-text="Planet">Planet</div>
  </div> 

  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <%end%>

 <!--  </body>

  </html> -->


</body>