/*press start 2*/
/*nova square*/
/*unica one*/
/*Inconsolata*/

/*fondamento*/
@font-face {
  font-family: 'old_londonregular';
  src: url('font/oldlondon.eot');
  src: url('font/oldlondon.eot?#iefix') format('embedded-opentype'),
       url('font/oldlondon.woff2') format('woff2'),
       url('font/oldlondon.woff') format('woff'),
       url('font/oldlondon.ttf') format('truetype'),
       url('font/oldlondon.svg#old_londonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body#welcome{
  height: 4000px;
  background-image: url("newspaper.png");
  /*background-position: center center;*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  background-color: black;
}


/*div{
  display: inline-block;
  margin: auto;
}*/

.title {
  margin: auto;
  display: block;
  width: 60%;
 /* border: 1px black solid;*/
  padding-left: 25%;
  margin-top: 49px;
}

.logo {
 /*width: 250px;
 height:188px;*/
 display: inline-block;
 background: url("Logobw.png") center center;
 background-size: contain;
 background-repeat: no-repeat;
 /*width: 16.2vw;
 height: 16.2vw;*/
 padding-top: 6vw;
 padding-left: 2.4vw;
 padding-right: 4.4vw;
 margin: 0px 20px;
}

.logo:hover {
   background: url("Logocolor.png") center center;
   background-size: contain;
   background-repeat: no-repeat;
   padding-top: 6vw;
   padding-left: 2.4vw;
   padding-right: 4.4vw;
   margin: 0px 20px;
}

.glitch {
  text-align: center;
  display: inline-block;
  color: black;
  font-size: 70px;
  position: relative;
  /*width: 400px;*/
  /*margin: 49px;*/
  margin-bottom: 10px;
  font-family: 'old_londonregular' sans-serif;
}

@keyframes noise-anim {
  0% {
    clip: rect(32px, 9999px, 37px, 0);
  }
  5% {
    clip: rect(57px, 9999px, 100px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 28px, 0);
  }
  15.0% {
    clip: rect(96px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(80px, 9999px, 7px, 0);
  }
  25% {
    clip: rect(56px, 9999px, 73px, 0);
  }
  30.0% {
    clip: rect(92px, 9999px, 49px, 0);
  }
  35% {
    clip: rect(39px, 9999px, 50px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 31px, 0);
  }
  45% {
    clip: rect(98px, 9999px, 61px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 89px, 0);
  }
  55.0% {
    clip: rect(67px, 9999px, 50px, 0);
  }
  60.0% {
    clip: rect(20px, 9999px, 37px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(51px, 9999px, 88px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 88px, 0);
  }
  85.0% {
    clip: rect(19px, 9999px, 13px, 0);
  }
  90% {
    clip: rect(29px, 9999px, 11px, 0);
  }
  95% {
    clip: rect(28px, 9999px, 47px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 23px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(59px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 33px, 0);
  }
  15.0% {
    clip: rect(3px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(43px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(43px, 9999px, 73px, 0);
  }
  30.0% {
    clip: rect(28px, 9999px, 62px, 0);
  }
  35% {
    clip: rect(19px, 9999px, 60px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(90px, 9999px, 95px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 82px, 0);
  }
  55.0% {
    clip: rect(98px, 9999px, 89px, 0);
  }
  60.0% {
    clip: rect(69px, 9999px, 86px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 48px, 0);
  }
  70% {
    clip: rect(47px, 9999px, 98px, 0);
  }
  75% {
    clip: rect(91px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 43px, 0);
  }
  85.0% {
    clip: rect(60px, 9999px, 79px, 0);
  }
  90% {
    clip: rect(95px, 9999px, 76px, 0);
  }
  95% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  100% {
    clip: rect(7px, 9999px, 24px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
